<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<ConnectionStrings>
		<add
		  name="LocalContext"
		  connectionString="Server=.\\SQLExpress;Database=AquardensDB;Trusted_Connection=True;MultipleActiveResultSets=true"
		  providerName="System.Data.SqlClient" />
	</ConnectionStrings>
</configuration>